# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.venv/

# Packaging
*.egg-info/
dist/
build/

# Environment
.env

# IDE
.vscode/
.idea/

# Database
*.db

# OS
.DS_Store
Thumbs.db