BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 0e7790bf7321

CREATE TABLE audit_logs (
    id SERIAL NOT NULL, 
    user_id INTEGER, 
    action VARCHAR(200), 
    entity VARCHAR(100), 
    entity_id INTEGER, 
    details TEXT, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id)
);

CREATE INDEX ix_audit_logs_id ON audit_logs (id);

CREATE TABLE geographic_areas (
    id SERIAL NOT NULL, 
    parent_id INTEGER, 
    code VARCHAR(50) NOT NULL, 
    name VARCHAR(200) NOT NULL, 
    area_type VARCHAR(50) NOT NULL, 
    is_active BOOLEAN NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(parent_id) REFERENCES geographic_areas (id)
);

CREATE UNIQUE INDEX ix_geographic_areas_code ON geographic_areas (code);

CREATE INDEX ix_geographic_areas_id ON geographic_areas (id);

CREATE TABLE gis_epidemiology_units (
    id SERIAL NOT NULL, 
    row_number INTEGER, 
    unit_name VARCHAR(255), 
    unit_code VARCHAR(100), 
    old_unit_code VARCHAR(100), 
    unit_type VARCHAR(255), 
    province VARCHAR(100), 
    county VARCHAR(100), 
    x NUMERIC, 
    y NUMERIC, 
    user_name VARCHAR(255), 
    user_code VARCHAR(100), 
    sheep_count INTEGER, 
    cattle_count INTEGER, 
    goat_count INTEGER, 
    parent_unit_code VARCHAR(100), 
    registration_date VARCHAR(10), 
    is_active BOOLEAN, 
    horse_count INTEGER, 
    dog_count INTEGER, 
    camel_count INTEGER, 
    buffalo_count INTEGER, 
    postal_code VARCHAR(50), 
    sanitary_license_number VARCHAR(100), 
    sanitary_license_date VARCHAR(10), 
    operation_license_number VARCHAR(100), 
    operation_license_date VARCHAR(10), 
    address TEXT, 
    window_code VARCHAR(100), 
    operation_license_type VARCHAR(255), 
    has_sub_unit BOOLEAN, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_gis_epidemiology_units_unit_code ON gis_epidemiology_units (unit_code);

CREATE TABLE inspection_areas (
    id SERIAL NOT NULL, 
    name VARCHAR(200), 
    description VARCHAR(500), 
    PRIMARY KEY (id)
);

CREATE TABLE inspection_types (
    id SERIAL NOT NULL, 
    title VARCHAR(100) NOT NULL, 
    description TEXT, 
    is_active BOOLEAN, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_inspection_types_id ON inspection_types (id);

CREATE TABLE organization_levels (
    id SERIAL NOT NULL, 
    code VARCHAR(50) NOT NULL, 
    name VARCHAR(150) NOT NULL, 
    level_order INTEGER NOT NULL, 
    description VARCHAR(500), 
    is_active BOOLEAN NOT NULL, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_organization_levels_code ON organization_levels (code);

CREATE INDEX ix_organization_levels_id ON organization_levels (id);

CREATE TABLE organization_positions (
    id SERIAL NOT NULL, 
    code VARCHAR(50) NOT NULL, 
    title VARCHAR(200) NOT NULL, 
    level_order INTEGER NOT NULL, 
    is_managerial BOOLEAN NOT NULL, 
    is_active BOOLEAN NOT NULL, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_organization_positions_code ON organization_positions (code);

CREATE INDEX ix_organization_positions_id ON organization_positions (id);

CREATE TABLE organization_roles (
    id SERIAL NOT NULL, 
    code VARCHAR(50) NOT NULL, 
    name VARCHAR(150) NOT NULL, 
    description VARCHAR(500), 
    is_managerial BOOLEAN NOT NULL, 
    is_active BOOLEAN NOT NULL, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_organization_roles_code ON organization_roles (code);

CREATE INDEX ix_organization_roles_id ON organization_roles (id);

CREATE TABLE organization_unit_types (
    id SERIAL NOT NULL, 
    code VARCHAR(50) NOT NULL, 
    name VARCHAR(150) NOT NULL, 
    level_order INTEGER NOT NULL, 
    is_active BOOLEAN NOT NULL, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_organization_unit_types_code ON organization_unit_types (code);

CREATE INDEX ix_organization_unit_types_id ON organization_unit_types (id);

CREATE TABLE permissions (
    id SERIAL NOT NULL, 
    code VARCHAR(100) NOT NULL, 
    title VARCHAR(200) NOT NULL, 
    description TEXT, 
    is_active BOOLEAN NOT NULL, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_permissions_code ON permissions (code);

CREATE INDEX ix_permissions_id ON permissions (id);

CREATE TABLE province (
    id SERIAL NOT NULL, 
    name VARCHAR(100) NOT NULL, 
    code VARCHAR(10) NOT NULL, 
    is_active BOOLEAN NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (code)
);

CREATE INDEX ix_province_id ON province (id);

CREATE TABLE roles (
    id SERIAL NOT NULL, 
    name VARCHAR(200) NOT NULL, 
    description TEXT, 
    is_active BOOLEAN NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_roles_id ON roles (id);

CREATE UNIQUE INDEX ix_roles_name ON roles (name);

CREATE TABLE user_account (
    id SERIAL NOT NULL, 
    username VARCHAR(200) NOT NULL, 
    full_name VARCHAR(255), 
    email VARCHAR(255), 
    mobile VARCHAR(20), 
    password_hash VARCHAR(255) NOT NULL, 
    is_active BOOLEAN NOT NULL, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_user_account_email ON user_account (email);

CREATE INDEX ix_user_account_id ON user_account (id);

CREATE UNIQUE INDEX ix_user_account_mobile ON user_account (mobile);

CREATE UNIQUE INDEX ix_user_account_username ON user_account (username);

CREATE TABLE checklists (
    id SERIAL NOT NULL, 
    inspection_type_id INTEGER NOT NULL, 
    title VARCHAR(200) NOT NULL, 
    description TEXT, 
    is_active BOOLEAN, 
    PRIMARY KEY (id), 
    FOREIGN KEY(inspection_type_id) REFERENCES inspection_types (id)
);

CREATE INDEX ix_checklists_id ON checklists (id);

CREATE TABLE county (
    id SERIAL NOT NULL, 
    province_id INTEGER NOT NULL, 
    name VARCHAR(100) NOT NULL, 
    code VARCHAR(10) NOT NULL, 
    is_active BOOLEAN NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(province_id) REFERENCES province (id), 
    UNIQUE (code)
);

CREATE INDEX ix_county_id ON county (id);

CREATE TABLE role_permissions (
    id SERIAL NOT NULL, 
    role_id INTEGER NOT NULL, 
    permission_id INTEGER NOT NULL, 
    is_active BOOLEAN NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(permission_id) REFERENCES permissions (id), 
    FOREIGN KEY(role_id) REFERENCES roles (id)
);

CREATE INDEX ix_role_permissions_id ON role_permissions (id);

CREATE TABLE checklist_items (
    id SERIAL NOT NULL, 
    checklist_id INTEGER NOT NULL, 
    title VARCHAR(300) NOT NULL, 
    description TEXT, 
    weight INTEGER, 
    is_required BOOLEAN, 
    PRIMARY KEY (id), 
    FOREIGN KEY(checklist_id) REFERENCES checklists (id)
);

CREATE INDEX ix_checklist_items_id ON checklist_items (id);

CREATE TABLE organization_units (
    id SERIAL NOT NULL, 
    name VARCHAR(150) NOT NULL, 
    code VARCHAR(200) NOT NULL, 
    unit_type VARCHAR(200) NOT NULL, 
    type_id INTEGER, 
    level_id INTEGER, 
    parent_id INTEGER, 
    province_id INTEGER, 
    county_id INTEGER, 
    description TEXT, 
    is_active BOOLEAN NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(county_id) REFERENCES county (id), 
    FOREIGN KEY(level_id) REFERENCES organization_levels (id), 
    FOREIGN KEY(parent_id) REFERENCES organization_units (id), 
    FOREIGN KEY(province_id) REFERENCES province (id), 
    FOREIGN KEY(type_id) REFERENCES organization_unit_types (id)
);

CREATE UNIQUE INDEX ix_organization_units_code ON organization_units (code);

CREATE INDEX ix_organization_units_id ON organization_units (id);

CREATE INDEX ix_organization_units_level_id ON organization_units (level_id);

CREATE INDEX ix_organization_units_type_id ON organization_units (type_id);

CREATE TABLE veterinary_units (
    id SERIAL NOT NULL, 
    name VARCHAR(150) NOT NULL, 
    code VARCHAR(50) NOT NULL, 
    county_id INTEGER NOT NULL, 
    is_active BOOLEAN NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(county_id) REFERENCES county (id)
);

CREATE UNIQUE INDEX ix_veterinary_units_code ON veterinary_units (code);

CREATE INDEX ix_veterinary_units_id ON veterinary_units (id);

CREATE TYPE inspectionstatusenum AS ENUM ('DRAFT', 'SCHEDULED', 'IN_PROGRESS', 'COMPLETED', 'CANCELLED');

CREATE TYPE inspectionresultenum AS ENUM ('ACCEPTED', 'REJECTED', 'CONDITIONAL', 'PENDING');

CREATE TABLE inspections (
    id SERIAL NOT NULL, 
    inspection_number VARCHAR(50) NOT NULL, 
    inspection_type_id INTEGER NOT NULL, 
    organization_unit_id INTEGER NOT NULL, 
    veterinary_unit_id INTEGER NOT NULL, 
    inspector_id INTEGER NOT NULL, 
    inspection_date TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    status inspectionstatusenum NOT NULL, 
    result inspectionresultenum NOT NULL, 
    notes TEXT, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(inspection_type_id) REFERENCES inspection_types (id), 
    FOREIGN KEY(inspector_id) REFERENCES user_account (id), 
    FOREIGN KEY(organization_unit_id) REFERENCES organization_units (id), 
    FOREIGN KEY(veterinary_unit_id) REFERENCES veterinary_units (id)
);

CREATE INDEX ix_inspections_id ON inspections (id);

CREATE UNIQUE INDEX ix_inspections_inspection_number ON inspections (inspection_number);

CREATE TABLE organization_structure_nodes (
    id SERIAL NOT NULL, 
    organization_unit_id INTEGER NOT NULL, 
    parent_id INTEGER, 
    title VARCHAR(200) NOT NULL, 
    node_type VARCHAR(100) NOT NULL, 
    display_order INTEGER NOT NULL, 
    is_visible BOOLEAN NOT NULL, 
    is_active BOOLEAN NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(organization_unit_id) REFERENCES organization_units (id), 
    FOREIGN KEY(parent_id) REFERENCES organization_structure_nodes (id)
);

CREATE INDEX ix_organization_structure_nodes_id ON organization_structure_nodes (id);

CREATE INDEX ix_organization_structure_nodes_organization_unit_id ON organization_structure_nodes (organization_unit_id);

CREATE INDEX ix_organization_structure_nodes_parent_id ON organization_structure_nodes (parent_id);

CREATE TABLE organization_unit_areas (
    id SERIAL NOT NULL, 
    organization_unit_id INTEGER NOT NULL, 
    geographic_area_id INTEGER NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(geographic_area_id) REFERENCES geographic_areas (id), 
    FOREIGN KEY(organization_unit_id) REFERENCES organization_units (id)
);

CREATE INDEX ix_organization_unit_areas_id ON organization_unit_areas (id);

CREATE TABLE organization_unit_positions (
    id SERIAL NOT NULL, 
    organization_unit_id INTEGER NOT NULL, 
    organization_position_id INTEGER NOT NULL, 
    parent_assignment_id INTEGER, 
    is_active BOOLEAN NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(organization_position_id) REFERENCES organization_positions (id), 
    FOREIGN KEY(organization_unit_id) REFERENCES organization_units (id), 
    FOREIGN KEY(parent_assignment_id) REFERENCES organization_unit_positions (id)
);

CREATE INDEX ix_organization_unit_positions_id ON organization_unit_positions (id);

CREATE INDEX ix_organization_unit_positions_organization_position_id ON organization_unit_positions (organization_position_id);

CREATE INDEX ix_organization_unit_positions_organization_unit_id ON organization_unit_positions (organization_unit_id);

CREATE TABLE inspection_assignments (
    id SERIAL NOT NULL, 
    inspection_id INTEGER NOT NULL, 
    inspector_id INTEGER NOT NULL, 
    assigned_by INTEGER, 
    assigned_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    unassigned_at TIMESTAMP WITHOUT TIME ZONE, 
    is_active BOOLEAN NOT NULL, 
    note TEXT, 
    PRIMARY KEY (id), 
    FOREIGN KEY(assigned_by) REFERENCES user_account (id), 
    FOREIGN KEY(inspection_id) REFERENCES inspections (id), 
    FOREIGN KEY(inspector_id) REFERENCES user_account (id)
);

CREATE INDEX ix_inspection_assignments_id ON inspection_assignments (id);

CREATE TABLE inspection_item_results (
    id SERIAL NOT NULL, 
    inspection_id INTEGER NOT NULL, 
    checklist_item_id INTEGER NOT NULL, 
    is_compliant BOOLEAN NOT NULL, 
    score INTEGER, 
    inspector_note TEXT, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(checklist_item_id) REFERENCES checklist_items (id), 
    FOREIGN KEY(inspection_id) REFERENCES inspections (id)
);

CREATE INDEX ix_inspection_item_results_id ON inspection_item_results (id);

CREATE TABLE inspection_status_history (
    id SERIAL NOT NULL, 
    inspection_id INTEGER NOT NULL, 
    old_status inspectionstatusenum, 
    new_status inspectionstatusenum NOT NULL, 
    changed_by INTEGER NOT NULL, 
    changed_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    note TEXT, 
    PRIMARY KEY (id), 
    FOREIGN KEY(changed_by) REFERENCES user_account (id), 
    FOREIGN KEY(inspection_id) REFERENCES inspections (id)
);

CREATE INDEX ix_inspection_status_history_id ON inspection_status_history (id);

CREATE TABLE user_assignments (
    id SERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    organization_unit_id INTEGER NOT NULL, 
    organization_unit_position_id INTEGER, 
    role_id INTEGER NOT NULL, 
    is_primary BOOLEAN NOT NULL, 
    is_active BOOLEAN NOT NULL, 
    start_date TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    end_date TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(organization_unit_id) REFERENCES organization_units (id), 
    FOREIGN KEY(organization_unit_position_id) REFERENCES organization_unit_positions (id), 
    FOREIGN KEY(role_id) REFERENCES roles (id), 
    FOREIGN KEY(user_id) REFERENCES user_account (id), 
    CONSTRAINT uq_active_user_assignment_position UNIQUE (user_id, organization_unit_id, organization_unit_position_id, is_active)
);

CREATE INDEX ix_user_assignments_id ON user_assignments (id);

INSERT INTO alembic_version (version_num) VALUES ('0e7790bf7321') RETURNING alembic_version.version_num;

-- Running upgrade 0e7790bf7321 -> 380cbdc3b50e

CREATE TABLE gis_epidemiology_unit_types (
    id SERIAL NOT NULL, 
    title VARCHAR(100) NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (title)
);

CREATE INDEX ix_gis_epidemiology_unit_types_id ON gis_epidemiology_unit_types (id);

CREATE TABLE gis_import_jobs (
    id SERIAL NOT NULL, 
    title VARCHAR(255) NOT NULL, 
    import_type VARCHAR(100) NOT NULL, 
    status VARCHAR(30), 
    total_rows INTEGER, 
    success_rows INTEGER, 
    failed_rows INTEGER, 
    created_by INTEGER, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
    finished_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_gis_import_jobs_id ON gis_import_jobs (id);

CREATE TABLE gis_import_queue (
    id SERIAL NOT NULL, 
    job_type VARCHAR(100) NOT NULL, 
    payload VARCHAR, 
    status VARCHAR(30), 
    priority INTEGER, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
    started_at TIMESTAMP WITHOUT TIME ZONE, 
    finished_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_gis_import_queue_id ON gis_import_queue (id);

CREATE TABLE gis_import_schedules (
    id SERIAL NOT NULL, 
    title VARCHAR(255) NOT NULL, 
    cron_expression VARCHAR(100), 
    template_code VARCHAR(100), 
    source_path VARCHAR(500), 
    is_active BOOLEAN, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_gis_import_schedules_id ON gis_import_schedules (id);

CREATE TABLE gis_import_sessions (
    id SERIAL NOT NULL, 
    session_key VARCHAR(100) NOT NULL, 
    username VARCHAR(100), 
    ip_address VARCHAR(50), 
    status VARCHAR(30), 
    is_locked BOOLEAN, 
    started_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
    finished_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    UNIQUE (session_key)
);

CREATE INDEX ix_gis_import_sessions_id ON gis_import_sessions (id);

CREATE TABLE gis_import_settings (
    id SERIAL NOT NULL, 
    setting_key VARCHAR(255) NOT NULL, 
    setting_value VARCHAR, 
    description VARCHAR(500), 
    is_active BOOLEAN, 
    PRIMARY KEY (id), 
    UNIQUE (setting_key)
);

CREATE INDEX ix_gis_import_settings_id ON gis_import_settings (id);

CREATE TABLE gis_import_templates (
    id SERIAL NOT NULL, 
    code VARCHAR(100) NOT NULL, 
    title VARCHAR(255) NOT NULL, 
    description TEXT, 
    target_table VARCHAR(100) NOT NULL, 
    worksheet_name VARCHAR(100) NOT NULL, 
    start_row INTEGER NOT NULL, 
    is_active BOOLEAN NOT NULL, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_gis_import_templates_code ON gis_import_templates (code);

CREATE INDEX ix_gis_import_templates_id ON gis_import_templates (id);

CREATE TABLE gis_provinces (
    id SERIAL NOT NULL, 
    province_code VARCHAR(10) NOT NULL, 
    province_name VARCHAR(200) NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_gis_provinces_id ON gis_provinces (id);

CREATE UNIQUE INDEX ix_gis_provinces_province_code ON gis_provinces (province_code);

CREATE TABLE gis_counties (
    id SERIAL NOT NULL, 
    province_id INTEGER NOT NULL, 
    county_code VARCHAR(10) NOT NULL, 
    county_name VARCHAR(200) NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(province_id) REFERENCES gis_provinces (id)
);

CREATE INDEX ix_gis_counties_county_code ON gis_counties (county_code);

CREATE INDEX ix_gis_counties_id ON gis_counties (id);

CREATE INDEX ix_gis_counties_province_id ON gis_counties (province_id);

CREATE TABLE gis_import_columns (
    id SERIAL NOT NULL, 
    template_id INTEGER NOT NULL, 
    excel_column VARCHAR(255) NOT NULL, 
    database_column VARCHAR(255) NOT NULL, 
    data_type VARCHAR(50), 
    is_required BOOLEAN, 
    is_unique BOOLEAN, 
    PRIMARY KEY (id), 
    FOREIGN KEY(template_id) REFERENCES gis_import_templates (id)
);

CREATE INDEX ix_gis_import_columns_id ON gis_import_columns (id);

CREATE TABLE gis_import_duplicate (
    id SERIAL NOT NULL, 
    template_id INTEGER NOT NULL, 
    field_name VARCHAR(255), 
    strategy VARCHAR(100), 
    enabled BOOLEAN, 
    PRIMARY KEY (id), 
    FOREIGN KEY(template_id) REFERENCES gis_import_templates (id)
);

CREATE INDEX ix_gis_import_duplicate_id ON gis_import_duplicate (id);

CREATE TABLE gis_import_files (
    id SERIAL NOT NULL, 
    job_id INTEGER NOT NULL, 
    original_name VARCHAR(255) NOT NULL, 
    stored_name VARCHAR(255) NOT NULL, 
    file_extension VARCHAR(20), 
    file_size INTEGER, 
    sheet_name VARCHAR(100), 
    PRIMARY KEY (id), 
    FOREIGN KEY(job_id) REFERENCES gis_import_jobs (id)
);

CREATE INDEX ix_gis_import_files_id ON gis_import_files (id);

CREATE TABLE gis_import_history (
    id SERIAL NOT NULL, 
    job_id INTEGER NOT NULL, 
    executed_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(job_id) REFERENCES gis_import_jobs (id)
);

CREATE INDEX ix_gis_import_history_id ON gis_import_history (id);

CREATE TABLE gis_import_logs (
    id SERIAL NOT NULL, 
    job_id INTEGER NOT NULL, 
    level VARCHAR(20), 
    message TEXT, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(job_id) REFERENCES gis_import_jobs (id)
);

CREATE INDEX ix_gis_import_logs_id ON gis_import_logs (id);

CREATE TABLE gis_import_mapping (
    id SERIAL NOT NULL, 
    template_id INTEGER NOT NULL, 
    source_field VARCHAR(255), 
    destination_field VARCHAR(255), 
    transform_rule VARCHAR(255), 
    PRIMARY KEY (id), 
    FOREIGN KEY(template_id) REFERENCES gis_import_templates (id)
);

CREATE INDEX ix_gis_import_mapping_id ON gis_import_mapping (id);

CREATE TABLE gis_import_preview (
    id SERIAL NOT NULL, 
    job_id INTEGER NOT NULL, 
    row_number INTEGER, 
    preview_data JSON, 
    PRIMARY KEY (id), 
    FOREIGN KEY(job_id) REFERENCES gis_import_jobs (id)
);

CREATE INDEX ix_gis_import_preview_id ON gis_import_preview (id);

CREATE TABLE gis_import_rows (
    id SERIAL NOT NULL, 
    job_id INTEGER NOT NULL, 
    row_number INTEGER NOT NULL, 
    status VARCHAR(30), 
    data JSON, 
    message VARCHAR(500), 
    PRIMARY KEY (id), 
    FOREIGN KEY(job_id) REFERENCES gis_import_jobs (id)
);

CREATE INDEX ix_gis_import_rows_id ON gis_import_rows (id);

CREATE TABLE gis_import_statistics (
    id SERIAL NOT NULL, 
    job_id INTEGER NOT NULL, 
    total_rows INTEGER, 
    imported_rows INTEGER, 
    duplicate_rows INTEGER, 
    invalid_rows INTEGER, 
    skipped_rows INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(job_id) REFERENCES gis_import_jobs (id)
);

CREATE INDEX ix_gis_import_statistics_id ON gis_import_statistics (id);

CREATE TABLE gis_import_validation (
    id SERIAL NOT NULL, 
    template_id INTEGER NOT NULL, 
    field_name VARCHAR(255), 
    validation_type VARCHAR(100), 
    validation_value VARCHAR(255), 
    is_active BOOLEAN, 
    PRIMARY KEY (id), 
    FOREIGN KEY(template_id) REFERENCES gis_import_templates (id)
);

CREATE INDEX ix_gis_import_validation_id ON gis_import_validation (id);

CREATE TABLE gis_import_errors (
    id SERIAL NOT NULL, 
    row_id INTEGER NOT NULL, 
    column_name VARCHAR(100), 
    error_code VARCHAR(50), 
    error_message TEXT, 
    PRIMARY KEY (id), 
    FOREIGN KEY(row_id) REFERENCES gis_import_rows (id)
);

CREATE INDEX ix_gis_import_errors_id ON gis_import_errors (id);

ALTER TABLE gis_epidemiology_units ADD COLUMN old_code VARCHAR(50);

ALTER TABLE gis_epidemiology_units ADD COLUMN unit_type_id INTEGER NOT NULL;

ALTER TABLE gis_epidemiology_units ADD COLUMN province_id INTEGER NOT NULL;

ALTER TABLE gis_epidemiology_units ADD COLUMN county_id INTEGER NOT NULL;

ALTER TABLE gis_epidemiology_units ADD COLUMN parent_unit_id INTEGER;

ALTER TABLE gis_epidemiology_units ADD COLUMN latitude FLOAT;

ALTER TABLE gis_epidemiology_units ADD COLUMN longitude FLOAT;

ALTER TABLE gis_epidemiology_units ADD COLUMN license_no VARCHAR(100);

ALTER TABLE gis_epidemiology_units ADD COLUMN license_date DATE;

ALTER TABLE gis_epidemiology_units ADD COLUMN business_license_no VARCHAR(100);

ALTER TABLE gis_epidemiology_units ADD COLUMN business_license_date DATE;

ALTER TABLE gis_epidemiology_units ADD COLUMN license_type VARCHAR(100);

ALTER TABLE gis_epidemiology_units ALTER COLUMN unit_code TYPE VARCHAR(50);

ALTER TABLE gis_epidemiology_units ALTER COLUMN unit_code SET NOT NULL;

ALTER TABLE gis_epidemiology_units ALTER COLUMN window_code TYPE VARCHAR(50);

ALTER TABLE gis_epidemiology_units ALTER COLUMN unit_name SET NOT NULL;

ALTER TABLE gis_epidemiology_units ALTER COLUMN address TYPE VARCHAR(500);

ALTER TABLE gis_epidemiology_units ALTER COLUMN postal_code TYPE VARCHAR(20);

ALTER TABLE gis_epidemiology_units ALTER COLUMN is_active SET NOT NULL;

DROP INDEX ix_gis_epidemiology_units_unit_code;

CREATE UNIQUE INDEX ix_gis_epidemiology_units_unit_code ON gis_epidemiology_units (unit_code);

CREATE INDEX ix_gis_epidemiology_units_county_id ON gis_epidemiology_units (county_id);

CREATE INDEX ix_gis_epidemiology_units_id ON gis_epidemiology_units (id);

CREATE INDEX ix_gis_epidemiology_units_province_id ON gis_epidemiology_units (province_id);

CREATE INDEX ix_gis_epidemiology_units_unit_type_id ON gis_epidemiology_units (unit_type_id);

ALTER TABLE gis_epidemiology_units ADD FOREIGN KEY(county_id) REFERENCES gis_counties (id);

ALTER TABLE gis_epidemiology_units ADD FOREIGN KEY(unit_type_id) REFERENCES gis_epidemiology_unit_types (id);

ALTER TABLE gis_epidemiology_units ADD FOREIGN KEY(parent_unit_id) REFERENCES gis_epidemiology_units (id);

ALTER TABLE gis_epidemiology_units ADD FOREIGN KEY(province_id) REFERENCES gis_provinces (id);

ALTER TABLE gis_epidemiology_units DROP COLUMN user_code;

ALTER TABLE gis_epidemiology_units DROP COLUMN y;

ALTER TABLE gis_epidemiology_units DROP COLUMN registration_date;

ALTER TABLE gis_epidemiology_units DROP COLUMN operation_license_date;

ALTER TABLE gis_epidemiology_units DROP COLUMN horse_count;

ALTER TABLE gis_epidemiology_units DROP COLUMN dog_count;

ALTER TABLE gis_epidemiology_units DROP COLUMN county;

ALTER TABLE gis_epidemiology_units DROP COLUMN sanitary_license_date;

ALTER TABLE gis_epidemiology_units DROP COLUMN sanitary_license_number;

ALTER TABLE gis_epidemiology_units DROP COLUMN operation_license_type;

ALTER TABLE gis_epidemiology_units DROP COLUMN unit_type;

ALTER TABLE gis_epidemiology_units DROP COLUMN x;

ALTER TABLE gis_epidemiology_units DROP COLUMN row_number;

ALTER TABLE gis_epidemiology_units DROP COLUMN cattle_count;

ALTER TABLE gis_epidemiology_units DROP COLUMN province;

ALTER TABLE gis_epidemiology_units DROP COLUMN user_name;

ALTER TABLE gis_epidemiology_units DROP COLUMN parent_unit_code;

ALTER TABLE gis_epidemiology_units DROP COLUMN buffalo_count;

ALTER TABLE gis_epidemiology_units DROP COLUMN has_sub_unit;

ALTER TABLE gis_epidemiology_units DROP COLUMN operation_license_number;

ALTER TABLE gis_epidemiology_units DROP COLUMN old_unit_code;

ALTER TABLE gis_epidemiology_units DROP COLUMN goat_count;

ALTER TABLE gis_epidemiology_units DROP COLUMN sheep_count;

ALTER TABLE gis_epidemiology_units DROP COLUMN camel_count;

UPDATE alembic_version SET version_num='380cbdc3b50e' WHERE alembic_version.version_num = '0e7790bf7321';

-- Running upgrade 380cbdc3b50e -> ca2f1bb34f0c

ALTER TABLE gis_counties ALTER COLUMN county_code TYPE VARCHAR(20) USING county_code::varchar(20);

ALTER TABLE gis_counties ALTER COLUMN county_name TYPE VARCHAR(100) USING county_name::varchar(100);

DROP INDEX ix_gis_counties_county_code;

CREATE UNIQUE INDEX ix_gis_counties_county_code ON gis_counties (county_code);

CREATE INDEX ix_gis_counties_county_name ON gis_counties (county_name);

ALTER TABLE gis_epidemiology_unit_types ADD COLUMN code VARCHAR(50);

ALTER TABLE gis_epidemiology_unit_types ADD COLUMN description VARCHAR(500);

ALTER TABLE gis_epidemiology_unit_types ALTER COLUMN title TYPE VARCHAR(255) USING title::varchar(255);

ALTER TABLE gis_epidemiology_unit_types DROP CONSTRAINT gis_epidemiology_unit_types_title_key;

CREATE UNIQUE INDEX ix_gis_epidemiology_unit_types_code ON gis_epidemiology_unit_types (code);

CREATE UNIQUE INDEX ix_gis_epidemiology_unit_types_title ON gis_epidemiology_unit_types (title);

ALTER TABLE gis_epidemiology_units ADD COLUMN user_name VARCHAR(100);

ALTER TABLE gis_epidemiology_units ADD COLUMN user_code VARCHAR(50);

ALTER TABLE gis_epidemiology_units ADD COLUMN sheep_count INTEGER;

ALTER TABLE gis_epidemiology_units ADD COLUMN cattle_count INTEGER;

ALTER TABLE gis_epidemiology_units ADD COLUMN goat_count INTEGER;

ALTER TABLE gis_epidemiology_units ADD COLUMN horse_count INTEGER;

ALTER TABLE gis_epidemiology_units ADD COLUMN dog_count INTEGER;

ALTER TABLE gis_epidemiology_units ADD COLUMN camel_count INTEGER;

ALTER TABLE gis_epidemiology_units ADD COLUMN buffalo_count INTEGER;

ALTER TABLE gis_epidemiology_units ADD COLUMN sanitary_license_number VARCHAR(100);

ALTER TABLE gis_epidemiology_units ADD COLUMN operation_license_number VARCHAR(100);

ALTER TABLE gis_epidemiology_units ADD COLUMN has_sub_unit BOOLEAN;

ALTER TABLE gis_epidemiology_units ADD COLUMN sanitary_license_date DATE;

ALTER TABLE gis_epidemiology_units ADD COLUMN operation_license_date DATE;

ALTER TABLE gis_epidemiology_units ALTER COLUMN window_code TYPE VARCHAR(100) USING window_code::varchar(100);

ALTER TABLE gis_epidemiology_units ALTER COLUMN province_id DROP NOT NULL;

ALTER TABLE gis_epidemiology_units ALTER COLUMN county_id DROP NOT NULL;

ALTER TABLE gis_epidemiology_units ALTER COLUMN license_type TYPE VARCHAR(255) USING license_type::varchar(255);

ALTER TABLE gis_epidemiology_units ALTER COLUMN is_active DROP NOT NULL;

ALTER TABLE gis_epidemiology_units DROP COLUMN business_license_no;

ALTER TABLE gis_epidemiology_units DROP COLUMN business_license_date;

ALTER TABLE gis_epidemiology_units DROP COLUMN license_date;

ALTER TABLE gis_epidemiology_units DROP COLUMN license_no;

ALTER TABLE gis_import_columns ADD COLUMN column_name VARCHAR(255);

ALTER TABLE gis_import_columns ADD COLUMN position INTEGER;

ALTER TABLE gis_import_columns
        ALTER COLUMN is_required TYPE INTEGER
        USING (
            CASE
                WHEN is_required = TRUE THEN 1
                WHEN is_required = FALSE THEN 0
                ELSE NULL
            END
        );

CREATE INDEX ix_gis_import_columns_template_id ON gis_import_columns (template_id);

ALTER TABLE gis_import_columns DROP COLUMN excel_column;

ALTER TABLE gis_import_columns DROP COLUMN database_column;

ALTER TABLE gis_import_columns DROP COLUMN is_unique;

ALTER TABLE gis_import_duplicate ADD COLUMN job_id INTEGER;

ALTER TABLE gis_import_duplicate ADD COLUMN row_number INTEGER;

ALTER TABLE gis_import_duplicate ADD COLUMN duplicate_key VARCHAR(255);

ALTER TABLE gis_import_duplicate ADD COLUMN existing_data JSON;

CREATE INDEX ix_gis_import_duplicate_job_id ON gis_import_duplicate (job_id);

ALTER TABLE gis_import_duplicate DROP CONSTRAINT gis_import_duplicate_template_id_fkey;

ALTER TABLE gis_import_duplicate ADD CONSTRAINT fk_gis_import_duplicate_job FOREIGN KEY(job_id) REFERENCES gis_import_jobs (id);

ALTER TABLE gis_import_duplicate DROP COLUMN strategy;

ALTER TABLE gis_import_duplicate DROP COLUMN field_name;

ALTER TABLE gis_import_duplicate DROP COLUMN template_id;

ALTER TABLE gis_import_duplicate DROP COLUMN enabled;

ALTER TABLE gis_import_errors ADD COLUMN job_id INTEGER;

ALTER TABLE gis_import_errors ADD COLUMN row_number INTEGER;

ALTER TABLE gis_import_errors ADD COLUMN field_name VARCHAR(255);

ALTER TABLE gis_import_errors ALTER COLUMN error_code TYPE VARCHAR(100) USING error_code::varchar(100);

ALTER TABLE gis_import_errors ALTER COLUMN error_message TYPE VARCHAR(500) USING error_message::varchar(500);

CREATE INDEX ix_gis_import_errors_job_id ON gis_import_errors (job_id);

ALTER TABLE gis_import_errors DROP CONSTRAINT gis_import_errors_row_id_fkey;

ALTER TABLE gis_import_errors ADD CONSTRAINT fk_gis_import_errors_job FOREIGN KEY(job_id) REFERENCES gis_import_jobs (id);

ALTER TABLE gis_import_errors DROP COLUMN column_name;

ALTER TABLE gis_import_errors DROP COLUMN row_id;

ALTER TABLE gis_import_files ADD COLUMN file_name VARCHAR(255);

ALTER TABLE gis_import_files ADD COLUMN file_path VARCHAR(500);

ALTER TABLE gis_import_files ADD COLUMN file_type VARCHAR(50);

ALTER TABLE gis_import_files ADD COLUMN uploaded_by VARCHAR(100);

ALTER TABLE gis_import_files ADD COLUMN uploaded_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now();

CREATE INDEX ix_gis_import_files_job_id ON gis_import_files (job_id);

ALTER TABLE gis_import_files DROP COLUMN original_name;

ALTER TABLE gis_import_files DROP COLUMN stored_name;

ALTER TABLE gis_import_files DROP COLUMN sheet_name;

ALTER TABLE gis_import_files DROP COLUMN file_extension;

ALTER TABLE gis_import_history ADD COLUMN action VARCHAR(100);

ALTER TABLE gis_import_history ADD COLUMN username VARCHAR(100);

ALTER TABLE gis_import_history ADD COLUMN created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now();

CREATE INDEX ix_gis_import_history_job_id ON gis_import_history (job_id);

ALTER TABLE gis_import_history DROP COLUMN executed_at;

ALTER TABLE gis_import_jobs ADD COLUMN template_id INTEGER;

ALTER TABLE gis_import_jobs ADD COLUMN session_id INTEGER;

ALTER TABLE gis_import_jobs ADD COLUMN job_code VARCHAR(100);

ALTER TABLE gis_import_jobs ADD COLUMN processed_rows INTEGER;

ALTER TABLE gis_import_jobs ADD COLUMN is_completed BOOLEAN;

ALTER TABLE gis_import_jobs ADD COLUMN started_at TIMESTAMP WITHOUT TIME ZONE;

ALTER TABLE gis_import_jobs ALTER COLUMN status TYPE VARCHAR(50) USING status::varchar(50);

CREATE UNIQUE INDEX ix_gis_import_jobs_job_code ON gis_import_jobs (job_code);

CREATE INDEX ix_gis_import_jobs_session_id ON gis_import_jobs (session_id);

CREATE INDEX ix_gis_import_jobs_template_id ON gis_import_jobs (template_id);

ALTER TABLE gis_import_jobs ADD CONSTRAINT fk_gis_import_jobs_template FOREIGN KEY(template_id) REFERENCES gis_import_templates (id);

ALTER TABLE gis_import_jobs ADD CONSTRAINT fk_gis_import_jobs_session FOREIGN KEY(session_id) REFERENCES gis_import_sessions (id);

ALTER TABLE gis_import_jobs DROP COLUMN import_type;

ALTER TABLE gis_import_jobs DROP COLUMN title;

ALTER TABLE gis_import_jobs DROP COLUMN created_by;

ALTER TABLE gis_import_logs ALTER COLUMN level TYPE VARCHAR(30) USING level::varchar(30);

ALTER TABLE gis_import_logs ALTER COLUMN message TYPE VARCHAR(500) USING message::varchar(500);

CREATE INDEX ix_gis_import_logs_job_id ON gis_import_logs (job_id);

ALTER TABLE gis_import_mapping ADD COLUMN excel_column VARCHAR(255);

ALTER TABLE gis_import_mapping ADD COLUMN database_field VARCHAR(255);

ALTER TABLE gis_import_mapping ALTER COLUMN transform_rule TYPE VARCHAR(500) USING transform_rule::varchar(500);

CREATE INDEX ix_gis_import_mapping_template_id ON gis_import_mapping (template_id);

ALTER TABLE gis_import_mapping DROP COLUMN destination_field;

ALTER TABLE gis_import_mapping DROP COLUMN source_field;

ALTER TABLE gis_import_preview ALTER COLUMN row_number SET NOT NULL;

ALTER TABLE gis_import_preview ALTER COLUMN preview_data SET NOT NULL;

CREATE INDEX ix_gis_import_preview_job_id ON gis_import_preview (job_id);

ALTER TABLE gis_import_queue ALTER COLUMN status TYPE VARCHAR(50) USING status::varchar(50);

ALTER TABLE gis_import_rows ADD COLUMN raw_data JSON;

CREATE INDEX ix_gis_import_rows_job_id ON gis_import_rows (job_id);

ALTER TABLE gis_import_rows DROP COLUMN message;

ALTER TABLE gis_import_rows DROP COLUMN data;

ALTER TABLE gis_import_schedules ADD COLUMN created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now();

ALTER TABLE gis_import_schedules ADD COLUMN updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now();

ALTER TABLE gis_import_schedules ALTER COLUMN template_code SET NOT NULL;

ALTER TABLE gis_import_settings ADD COLUMN key VARCHAR(100);

ALTER TABLE gis_import_settings ADD COLUMN value VARCHAR(500);

ALTER TABLE gis_import_settings DROP CONSTRAINT gis_import_settings_setting_key_key;

CREATE UNIQUE INDEX ix_gis_import_settings_key ON gis_import_settings (key);

ALTER TABLE gis_import_settings DROP COLUMN setting_value;

ALTER TABLE gis_import_settings DROP COLUMN setting_key;

CREATE INDEX ix_gis_import_statistics_job_id ON gis_import_statistics (job_id);

ALTER TABLE gis_import_templates ADD COLUMN entity_name VARCHAR(100);

ALTER TABLE gis_import_templates ADD COLUMN version VARCHAR(50);

ALTER TABLE gis_import_templates ADD COLUMN created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now();

ALTER TABLE gis_import_templates ADD COLUMN updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT now();

ALTER TABLE gis_import_templates ALTER COLUMN description TYPE VARCHAR(500) USING description::varchar(500);

ALTER TABLE gis_import_templates ALTER COLUMN is_active DROP NOT NULL;

ALTER TABLE gis_import_templates DROP COLUMN worksheet_name;

ALTER TABLE gis_import_templates DROP COLUMN target_table;

ALTER TABLE gis_import_templates DROP COLUMN start_row;

ALTER TABLE gis_import_validation ADD COLUMN job_id INTEGER;

ALTER TABLE gis_import_validation ADD COLUMN row_number INTEGER;

ALTER TABLE gis_import_validation ADD COLUMN message VARCHAR(500);

ALTER TABLE gis_import_validation ADD COLUMN status VARCHAR(30);

CREATE INDEX ix_gis_import_validation_job_id ON gis_import_validation (job_id);

ALTER TABLE gis_import_validation DROP CONSTRAINT gis_import_validation_template_id_fkey;

ALTER TABLE gis_import_validation ADD CONSTRAINT fk_gis_import_validation_job FOREIGN KEY(job_id) REFERENCES gis_import_jobs (id);

ALTER TABLE gis_import_validation DROP COLUMN is_active;

ALTER TABLE gis_import_validation DROP COLUMN validation_value;

ALTER TABLE gis_import_validation DROP COLUMN template_id;

ALTER TABLE gis_provinces ALTER COLUMN province_code TYPE VARCHAR(20) USING province_code::varchar(20);

ALTER TABLE gis_provinces ALTER COLUMN province_name TYPE VARCHAR(100) USING province_name::varchar(100);

CREATE INDEX ix_gis_provinces_province_name ON gis_provinces (province_name);

UPDATE alembic_version SET version_num='ca2f1bb34f0c' WHERE alembic_version.version_num = '380cbdc3b50e';

COMMIT;

