.main-layout{
    min-height:100vh;
    background:#f4f6f9;
}


.main-content{
    margin-right:270px;
    min-height:100vh;
}


.page-content{
    padding:24px;
}


@media(max-width:900px){

.main-content{
    margin-right:0;
}

}
