.dashboard-container{
padding:25px;
background:#f5f7f9;
min-height:100vh;
font-family:Tahoma,Arial;
}


.expert-header{

background:#083b4c;
color:white;
padding:25px;
border-radius:12px;
margin-bottom:20px;

}


.dashboard-box{

background:white;
padding:25px;
border-radius:12px;
box-shadow:0 2px 8px rgba(0,0,0,.1);

}


.form-section{

margin-top:20px;
padding:20px;
border:1px solid #ddd;
border-radius:12px;

}


.form-section h3{

color:#083b4c;

}


input[type="file"]{

padding:10px;
margin:15px 0;

}


.upload-btn{

background:#087f8c;
color:white;
border:none;
padding:12px 25px;
border-radius:8px;
cursor:pointer;
font-size:15px;

}


.upload-btn:hover{

background:#065c66;

}


ul{

line-height:2.2;

}